[2016-12-03 13:08] petrosagg opened #3 "Instructions to render the tex file"
This is a very interesting project. I'm not familiar with using TeX and the tools required to render it and I presume other people will have the same issue.

I can google myself around it and figure it out but it would be really nice if the README had a simple command that produced the rendered view.

[2016-12-05 14:50] #3 closed

[2016-12-05 14:50] ticki commented on #3
checkout the readme.

[2016-12-05 14:57] petrosagg commented on #3
Awesome, thanks!

[2016-12-06 22:28] kallisti5 opened #4 "Building tfs under other platforms"
Any chance of being able to build tfs under platforms other than Redox OS?

[code]

[2016-12-06 22:28] kallisti5 commented on #4
It would be interesting to try and create wrappers about the rust tfs driver on other platforms :-)

[2016-12-07 16:37] Veedrac opened #5 "Seahash weaknesses"
Your comments say

    /// It is generally suspected that this is at least partially secure (i.e. you cannot deduce the
    /// seed, even with unlimited "black box" access to the function), but it has not yet been subject
    /// to proper cryptoanalysis.

This seems fairly naïve, since it's relatively simple to deduce `k ^ diffuseⁿ(k)` (`n ≥ 1`) for any of the keys `k`. Though I don't personally

[2016-12-09 08:36] ticki commented on #5
Issue is just that you don't know the keys. The comment is specifically aimed towards the case where keys aren't known.

[2016-12-09 12:36] Veedrac commented on #5
If you can reverse `k ^ diffuse(k)` you can discover `k`, a key. This seems fairly likely, since that function is far from cryptographically secure.

[2016-12-09 13:47] ticki commented on #5
How would you revert `k ^ diffuse(k)`? If you have a general solution, you have broken Davies–Meyer, which I doubt is the case.

Note that `k ^ diffuse(k)` is not bijective, so it isn't possible to revert with a single candidate. However, if you can show some form of statistical bias, you can weaken bruteforcing.

That being said, people realy shouldn't rely on it as a secure PRF before proper ana

[2016-12-09 14:13] ticki commented on #5
I'm going to remove the clause on security. Way too many people have mistaken it for cryptographic hash function (like SHA-3).

[2016-12-09 14:51] ticki commented on #5
Here's an actual attack on SeaHash:

You can extract  ![](http://latex.codecogs.com/svg.latex?h%20%3D%20k_1%20%5Coplus%20k_2%20%5Coplus%20k_3%20%5Coplus%20k_4) relatively easily: Hash the string `""` and revert the final diffusion: ![](http://latex.codecogs.com/svg.latex?h%20%3D%20f%5E%7B-1%7D%28H%28%22%22%29%29)

Now, if I know ![](http://latex.codecogs.com/svg.latex?%28k_1%2C%20k_2%2C%20k_3%29),

[2016-12-09 16:34] theduke opened #6 "License!"
There's no license in the repo or the README.

Please decide on one.

[2016-12-09 16:54] Veedrac commented on #5
The attack I give reduces the search space to four separate searches of size 2^64, so is significantly better than your attack.

This involves breaking `k ^ diffuse(k)`, which likely isn't very hard. It would be hard if `diffuse` was a strong PRF, but it's not - it's really weak.

[2016-12-09 16:55] ticki commented on #6
[It is right here](https://github.com/ticki/tfs/blob/master/LICENSE)

[2016-12-09 16:55] #6 closed

[2016-12-09 16:59] ticki commented on #5
Maybe I'm just misunderstanding, but your attack doesn't seem to take the finalization into account? You can't reverse the XOR sum of the states.

[2016-12-09 17:04] Veedrac commented on #5
`hash(&[0; 0])` produces `diffuse(a ^ b ^ c ^ d)`.

`hash(&[0; 8])` produces `diffuse(diffuse(a) ^ b ^ c ^ d ^ 8)`.

If then you

    let abcd = undiffuse(hash(&[0; 0])) ^ 0;
    let Abcd = undiffuse(hash(&[0; 8])) ^ 8;

you have that `abcd` is `a ^ b ^ c ^ d` and `Abcd` is `diffuse(a) ^ b ^ c ^ d`.

Thus `abcd ^ Abcd` is `a ^ diffuse(a)`. You can brute-force this in time 2^64 (though I suspect a

[2016-12-09 17:13] Veedrac commented on #5
Woo! I solved it!

I used this program in the Z3 SMT solver

    (declare-const key (_ BitVec 64))

    (define-fun mul ((x (_ BitVec 64))) (_ BitVec 64)
      (bvmul x #x6eed0e9da4d94a4f))

    (assert (= #b1011
               ((_ extract 63 60) (mul key))))

    (assert (= #x9da697d493f4897d
               (bvxor key
                      (mul (bvxor (mul key)
                                  (

[2016-12-09 17:38] ticki commented on #5
Cool (annoying, but still). I see now how you go from one to another. Color me impressed.

That was fast.

[2016-12-12 10:27] ticki commented on #5
I'm going to close this as it wasn't a goal to have this kind of keyed security but rather a presumed feature. I've removed everything questioning the security and replaced it with disclaimers saying very clearly that it is not secure.

[2016-12-12 10:27] #5 closed

[2017-01-01 14:21] StefanoD opened #8 "Rename speck folder to spec"
Or translate it from German to English into _beacon_.

[2017-01-01 14:22] #8 closed

[2017-01-01 14:22] StefanoD commented on #8
Sorry, thought, it was the spec folder.

[2017-01-02 15:59] ticki commented on #8
hehe, np

[2017-01-03 20:15] antonkulaga opened #9 "Layering"
It would be nice to have layering support like in Docker ( https://docs.docker.com/engine/userguide/storagedriver/btrfs-driver/ ), so users will be able to mount layers on top of each other that is very useful in many use-cases.

[2017-01-12 16:35] ticki opened #10 "ZFS-like Merkle tree checksums"
This will solve phantom writes issues

[2017-01-12 16:36] ticki opened #11 "Configurable disk driver stack."
w. data mirrors and RAID.

[2017-01-19 23:01] ticki commented on #10
Done.

[2017-01-19 23:01] #10 closed

[2017-01-20 23:23] ticki opened #12 "Insert into deduplication table on reads as well"
Currently, it will only insert a new entry after an alloc, but it could as well do it when reading.

There is two issues with this though:

1. SHA256 is really slow compared to other hashing algorithms. This is likely noticable when using high-end SSDs.

2. Alternatively, the table could be written to the disk when shutting down.

This migh exhibit better cache behavior, as recently read pages mig

[2017-01-22 22:32] ticki opened #13 "Make use of vdev heal on mismatching checksums"

[2017-01-22 22:33] ticki opened #14 "Consider merging `Vdev` and `Disk`."

[2017-01-24 22:33] #14 closed

[2017-01-24 22:33] #13 closed

[2017-01-24 22:33] #11 closed

[2017-01-28 10:07] azazar opened #15 ""TFS"?"
Why "TFS"? It's quite confusing. There are several file systems with the same abbreviation. Maybe it should be renamed while it's not too late?

[2017-01-28 15:22] StefanoD commented on #15
That's true.

https://github.com/alibaba/tfs

[2017-01-28 17:36] polymetric1 commented on #15
I think it's Ticki Filesystem. Honestly it sounds like a temp name. Maybe it could be named after a chemical or element or something like the other Redox things.

[2017-01-29 17:13] ticki opened #16 "Parallelized allocation."
It should be possible to allocate truely concurrent, by having a multithreaded queue of blocks, such that they can atomically be popped.

[2017-01-29 23:09] jackpot51 commented on #16
https://media.giphy.com/media/EldfH1VJdbrwY/giphy.gif

[2017-02-05 04:38] brendanzab opened #19 "Add a way of safely doing an upsert in CHashMap"
I would like to be able to do something like this:

[code]

I'm assuming another thread might be able to insert an entry into `map` between the time of the lookup and the call to `CHashMap::insert`. This would cause that previous entry to be discarded. It would be nice to be able to ensure this would not happen!

[2017-02-05 13:37] arthurprs commented on #19
I guess this can implemented with the Entry api

[2017-02-05 14:52] ticki commented on #19
Yeah, Entry API would be nice. I've added it to my list of things to do.

[2017-02-06 21:38] #16 closed

[2017-02-06 22:38] ticki commented on #19
Entry API is pretty complex, and won't be completed today, but there's now a way to do upsert.

[2017-02-06 22:38] #19 closed

[2017-02-07 09:39] brendanzab commented on #19
Hm, the sad thing is with the upsert API as given I would probably have to clone the `values` vector:

[code]

[2017-02-07 09:55] ticki commented on #19
That's a good point actually. It should take a closure instead.

[2017-02-07 10:02] ticki commented on #19
done. `1.0.0` is on crates.io now.

[2017-02-07 10:13] brendanzab commented on #19
Doesn't really solve the problem, because either one has to take ownership :P

[code]

[2017-02-07 10:14] brendanzab commented on #19
Oh welse! Sorry for being a pain! 😭

[2017-02-07 10:20] arthurprs commented on #19
A single FnMut(Some(&mut V)) then?

[2017-02-07 10:35] ticki commented on #19
Hmm, that's interesting. Moving seems a bit overkill so maybe a separate method for that?

How'd you insert with that?

[2017-02-07 10:36] ticki commented on #19
@brendanzab

What about

[code]

[2017-02-07 10:40] brendanzab commented on #19
What about:

[code]

[2017-02-07 10:42] ticki commented on #19
I like that.

[2017-02-07 10:43] brendanzab commented on #19
That's what [Haskell has anyway](https://hackage.haskell.org/package/unordered-containers-0.2.7.2/docs/Data-HashMap-Strict.html#v:alter).

[2017-02-07 10:43] brendanzab commented on #19
Update would be:

[code]

[2017-02-07 10:44] brendanzab commented on #19
Should it return an `Option<V>` too?

[2017-02-07 10:48] ticki opened #21 "Chashmap calls `.expand()` and increments the length when unnecessary causing wrong length."

[2017-02-07 11:18] ticki commented on #19
Added `alter`.

[2017-02-07 12:52] brendanzab commented on #19
Should it be `FnOnce`?

[2017-02-07 12:55] brendanzab commented on #19
Gonna be a pain with semver now... perhaps you could 2.0 it, and remove `upsert`? 😓

[2017-02-07 13:06] #21 closed

[2017-02-07 13:44] ticki commented on #19
@brendanzab It's fine. I've not removed `upsert` because I still think the ability to get a reference is useful, but they now take a `FnOnce`.

[2017-02-07 21:52] Kerollmops opened #22 "Adding a Continuous integration tool"
I tried to compile Tfs and fall on many errors (macros and inexistant module files).

Why not adding a CI to avoid this kind of errors (on master just for now) ?

[2017-02-08 08:24] StefanoD commented on #22
I can second that.
[Configuring](https://docs.travis-ci.com/user/languages/rust/) for Travis is very easy and free.

[2017-02-08 08:42] Kerollmops commented on #22
[Here is a travis.yml file](https://github.com/Kerollmops/ripin-rs/blob/master/.travis.yml) that push code coverage to coveralls.io

[2017-02-08 21:50] ticki opened #23 "Vdev to emulate sector-level atomicity for older hard disks."
Would be useful.

[2017-02-09 22:08] Kerollmops commented on #22
Travis needs to be configured by the repo owner.
For the moment the master branch doesn't compile (`src/core`, `cargo test`, `0.18.0 nightly`) due to a basic syntax error. This need to be fixed and never append again, at least on the master branch.

[2017-02-10 01:33] polymetric1 commented on #23
how old would a hard disk have to be to need this?

[2017-02-10 07:54] StefanoD commented on #22
This really shouldn't happen, that master doesn't compile, especially due to syntax errors...
In companies this would be a no go and could bring you severe problems if this happens regularly.
To be honest, I'm disappointed the author keeps pushing not compilable code since this issue has been opened...

[2017-02-10 13:43] Kerollmops commented on #22
What d we need to do ?
Help him understand how to use git properly ? or in a good manner ?
Don't always push on master, and make atomic commits.

[2017-02-10 13:48] Kerollmops opened #24 "Use milestones"
Using milestones and issues can help people understand the project's direction.
Issues can be used as tasks-to-complete, can be assigned to developers.

We can follow the [CoreUtils way](https://github.com/uutils/coreutils/milestone/1) for example.

[2017-02-10 15:50] ticki commented on #23
Not sure. Many low-end HDs barely document their guarantees.

[2017-02-11 01:16] polymetric1 commented on #22
It's weird, because it seems to be a different error every time. Weirder still since the code seems to be fine. I'm currently getting an unexpected bracket error, where a bracket obviously should be. I don't get how he's able to develop and commit regularly with it like this. I suspect he must be using a custom build of rustc. It's very in-dev and not exactly expected to build, but it's still very

[2017-02-11 01:20] Kerollmops commented on #22
invoking @ticki 🐰

[2017-02-11 09:53] ticki commented on #22
The core crate is broken for multiple reasons. It is too incomplete to compile.

[2017-02-11 16:58] Kerollmops commented on #24
invoking @ticki 🐦

[2017-02-11 19:16] ticki opened #25 "Improve deduplication"
- [ ] **Remove use of `AtomicOption`**: Using this type is relatively expensive, since it has allocation indirection, causing it to hold an extra pointer for every entry, effectively doubling the size of the table. Instead, there should be multiple arrays of type `AtomicU64`. However, there are complications wrt. atomicity.
- [ ] **Half the fingerprint size through seeding**: 128-bit fingerprints

[2017-02-11 19:18] #12 closed

[2017-02-11 19:19] ticki commented on #15
I like TFS, and will use that at least for now. I'll reevaluate before initial release.

[2017-02-11 19:19] #15 closed

[2017-02-11 19:20] ticki commented on #4
Currently the build is broken - on every platform. I'll notify you when it's ready.

[2017-02-11 19:20] #4 closed

[2017-03-06 07:13] brendanzab opened #28 "chashmap v2.1.0 fails to compile due to upstream changes in owning_ref ~v0.3.2"
I've yet to investigate this further, but thought I'd share:

[code]

[2017-03-06 08:32] brendanzab commented on #28
cc. @Kimundi

[2017-03-06 08:36] brendanzab commented on #28
well..... https://github.com/ticki/tfs/blob/57b4d506dd4ab7473565c0a9815d9d5100e440a8/chashmap/Cargo.toml#L14

[code]

@ticki whyyyyyyyy?! 😭

[2017-03-06 09:07] brendanzab commented on #28
I am devving on a library, but in the interim I changed:

[code]

Seems to work for now.

[2017-03-06 17:55] ticki commented on #28
Why does a crate as important as `owning_ref` have a breakage without following semver semantics??

[2017-03-06 17:56] ticki commented on #28
But the blame is really on me for not specifying properly.

[2017-03-06 18:02] ticki commented on #28
Oh. It's not owning_ref that breaks, it's parking_lot (@amanieu).

[2017-03-06 18:03] ticki commented on #28
https://github.com/Amanieu/parking_lot/commit/34b740679256a3e8b1fbb95c9555eca7b1462ca2

This was apparantly first released with the recent update.

[2017-03-06 18:07] ticki commented on #28
Actually I'm wondering why now. `owning_ref` is in `default` features of `parking_lot`...

[2017-03-06 18:13] Amanieu commented on #28
`parking_lot::RwLockReadGuard` implements `owning_ref<0.2>::StableAddress` but chashmap requires `owning_ref<0.3>::StableAddress`.

[2017-03-06 18:14] ticki commented on #28
ah, subtle

[2017-03-06 18:23] #28 closed

[2017-03-06 18:24] ticki commented on #28
It's fixed now.

[2017-03-06 23:55] brendanzab commented on #28
Thanks @ticki!

[2017-03-14 16:21] bluss opened #29 "seahasher: methods not inlinable"
When looking at seahasher for the use case of single u32 keys for a hashmap, SeaHasher::{default, write_u32, finish} all show up in the profile; I don't think the compiler can inline any of these (without lto).

With lto, seahasher is on par with fnv for one benchmark.

Reproduce: https://gist.github.com/0d8d9889c18fc693fc637895642e8b44 (Run with cargo script, unfortunately it does not offer a sim

[2017-03-29 11:08] arthurprs commented on #29
Noticed the same today.

[2017-03-31 04:06] sbant opened #33 "CHashMap support Borrow?"
The std::collection::HashMap 's get function like this:
fn get<Q: ?Sized>(&self, k: &Q) -> Option<&V> where K: Borrow<Q>, Q: Hash + Eq

can CHashMap support the Borrow Trait?

let map = CHashMap::new();
let s = "some str";

so can use map.get(s), not map.get(&s.to_string())

[2017-04-08 07:59] JeffreySarnoff opened #34 "off topic: help with porting SeaHash"
This is the only way I found to send this message.  I am porting SeaHash to Julia, and have run into a snag.  I get the correct values for inputs that are multiples of eight bytes, and incorrect results with intermediate lengths.  If appropriate, I can be reached via email and continue this there.  Thank you for nice function.

[2017-04-10 13:09] ticki commented on #34
Hmm. Could you post the code?

[2017-04-11 06:23] JeffreySarnoff commented on #34
Thank you. In preparing the code for posting, the problem fell away.  It works now.

[2017-04-11 06:23] #34 closed

[2017-04-14 14:51] daiheitan opened #35 "CHashmap's scan could cause infinite loop"
I'm using chashmap in a web service, the server could go to 100% CPU usage after some time. After a simple perf record, I believe the problem is `scan` fn 's infinite loop.

[2017-04-15 15:13] StefanoD commented on #35
Could you maybe log the scan function somehow, like this?

[code]

[2017-04-15 15:28] ticki commented on #35
I need code to be able to reproduce. Otherwise, this bug report is useless.

[2017-04-16 10:55] daiheitan commented on #35
It's very hard to reproduce. Only one infinite loop for nearly 50~60 hours of web service with chashmap. I am not sure if I could reproduce it anytime soon, but here's the perf log if it helps.

![lalovmbolm0dk80c6a_744_811](https://cloud.githubusercontent.com/assets/4921289/25070634/4b14da48-22d6-11e7-84a6-e4a7aec94430.png)

[2017-04-28 12:58] jeberger opened #37 "Useless LCG hash function in LZ4 compression"
The implementation of the LCG hash function used for LZ4 compression is buggy, which renders the hash useless: it gives exactly the same compressed data as using `self.get_batch_at_cursor() % DICTIONARY_SIZE`.

It can be fixed by replacing it with:

[code]

This fix brings a 10% better compression ratio, theoretically at no cost.

A couple of notes however:
- On the asm side, the fix replaces an `

[2017-05-04 21:07] #37 closed

[2017-05-04 21:08] ticki commented on #37
Nice catch. This is fixed in `be31bfb`.

Note: I didn't use your fix. I replaced it by PCG transform to get better quality.

[2017-05-04 21:43] jeberger commented on #37
Did you benchmark it? I should have mentioned that I did try some "better" hash functions, that gave almost no improvement in compressed size but did make compression slower (by up to 10%), which is why I suggested simply fixing the LCG rather than using one of those other functions.

I got some nice size gains at reasonable cost by using two hash tables however, implementing an LRU strategy (I do

[2017-05-12 09:03] sbant opened #38 "support iter() for &self ?"
std::collections::HashMap support iter().

And concurrent-hashmap: https://github.com/veddan/rust-concurrent-hashmap
fn iter<'a>(&'a self) -> Entries<'a, K, V, H>
support this too.

Will CHashMap add this?

[2017-05-21 18:23] Shnatsel opened #40 "Consider using Zstd instead of LZ4"
Recently I've been investigating available compression algorithms (it became a bottleneck in one of my projects) and found that a recent breakthrough in entropy coding - [Asymmetric Numeral Systems](https://en.wikipedia.org/wiki/Asymmetric_Numeral_Systems) - has spawned an entire new generation of compression algorithms.

The only two general-purpose algorithms based on it are Apple's [LZFSE](http

[2017-05-21 20:53] AbhayGoyal commented on #24
I would like to contribute here if possoble. Please can you tell me what exactly has to be done in this area.

[2017-05-22 13:13] dracwyrm commented on #40
Direct link to the C code:
https://github.com/facebook/zstd

One question, it needs a dictionary to work faster, but where would a file system store the dictionary?

[2017-05-22 18:08] StefanoD commented on #40
Well, the benchmark link shows, that lz4 is significant faster, but has a lower compression ratio (but still good).

[2017-05-22 18:09] jsumners commented on #40
I was just browsing GitHub's trending repos and came across this project. I like to look at the issues on interesting projects, and this issue stood out to me. One thing that should be considered in this issue is that all Facebook "open source" software comes with encumbrance:

https://github.com/facebook/zstd/blob/e12ae023571e4430fde591152130bb47d621aa88/PATENTS

("you") a perpetual, worldwide, r

[2017-05-22 19:40] Shnatsel commented on #40
Which benchmark link? [Facebook's zstd benchmark](https://raw.githubusercontent.com/facebook/zstd/dev/doc/images/DCspeed5.png) does not include LZ4.

Zstd can be tuned to a wide range of compression ratios, and according to my ad-hoc tests it provides a better compression ratio than LZ4 _at the same speed._ I'd be interested in a more rigorous comparison though.

[2017-05-22 20:24] StefanoD commented on #40
[Here](http://facebook.github.io/zstd/#other-languages):

[code]

[2017-05-22 21:11] Shnatsel commented on #40
That appears to be the fastest mode of `zstd` reference implementation.

So basically zstd reference implementation doesn't have a mode that's comparable to LZ4 in terms of speed

[2017-05-23 01:06] waddlesplash opened #43 "Extended file attributes support"
Are there any plans to implement [extended file attributes](https://en.wikipedia.org/wiki/Extended_file_attributes)? Most modern Linux filesystems have them (ext4, ...), and some OSes (e.g. Haiku, which I work on) deeply integrate them into the desktop layer to the point where they have a hard dependency on the boot and home filesystems having extended attributes.

[2017-05-23 11:52] robjtede opened #44 "encryption support?"
One of the things missing from the ZFS linux releases right now is encryption support.

The FAQ mentions SPECK and AES but I assume that is for checksums.

If so, Is that something planned for later versions of TFS or would the modular nature of the project make it easy to implement.

[2017-05-23 19:02] ticki commented on #44
Those are ciphers not hash functiosn ☺

[2017-05-23 19:02] #44 closed

[2017-05-24 05:34] daiheitan commented on #35
I've changed to concurrent_hashmap. Closing this as my issue is not helping

[2017-05-24 10:51] xusss commented on #38
I just use `train` method for iterate it's item.

[2017-05-24 10:55] xusss commented on #38
Sorry,[retain](https://docs.rs/chashmap/2.2.0/chashmap/struct.CHashMap.html#method.retain)  method

[2017-05-25 10:30] arthurvanzyl opened #45 "Make all error after install."
mkdir -p build/kernel
RUSTC="./krustc.sh" RUSTDOC="./krustdoc.sh" CARGO_INCREMENTAL=1 cargo rustc --manifest-path rust/src/libcollections/Cargo.toml --target x86_64-unknown-none --release -- -C soft-float -o build/kernel/libcollections.rlib
/bin/sh: 1: cargo: not found
mk/kernel.mk:2: recipe for target 'build/kernel/libcollections.rlib' failed
make: *** [build/kernel/libcollections.rlib] Error 127

[2017-05-25 11:00] bjorn3 commented on #45
Does running `cargo` result in an error?

[2017-05-25 13:00] arthurvanzyl commented on #45
excuse my ignorance.

/redox/Cargo.toml` is a virtual manifest, but this command requires running against an actual package in this workspace

[2017-05-25 17:44] burdges commented on #44
Are there any current file systems that provide an encrypted "write only" mode using public key cryptography?  I know this proved tricky for systems like Tahoe-LAFS.

[2017-05-25 20:38] StefanoD commented on #45
I'm not sure what this has to do with TFS.

[2017-05-25 21:15] StefanoD commented on #40
BTW.: If you norm the speed to the compression ratio, you'll see, that the better compression of zstd can't compensate the lower performance. So you'll see no gain in terms of performance.
[code]

[2017-05-26 17:13] ticki commented on #44
@burdges I don't think so. In fact, it might not be possible as sufficient disk access would mean that you could rewrite anything you wanted.

[2017-05-26 20:43] burdges commented on #44
I haven't thought about it, but yes it'd necessarily leak some file system metadata to avoid over writing anything.  There are stenographic filesystems that avoid this, but they hide only a small amount of data in a large filesystem and protect it using erasure coding, so that's kinda another situation.

I was thinking more about the problem if receiving email on a home machine or the digital came

[2017-05-27 06:44] cedenday opened #46 "Update dependencies of chashmap."
parking_lot has some bugfixes in the latest version.

[2017-05-28 04:12] m4b opened #47 "fix/publish atomic hashmap"
I would very much like to try out the atomic hashmap in another project, but as you mention, it isn't quite ready to be published.

Is there an ETA for this?

I tried fixing it myself to do some benchmarks, but it seems the build errors are actually nontrivial / the crate is more of a sketch than working code at this point, no?

[2017-05-31 23:47] PythonNut commented on #40
@StefanoD

Aren't you assuming you aren't limited by disk I/O?

[2017-06-01 05:23] StefanoD commented on #40
Why should I assume any limitations? I have an Samsung 960 Pro and I can read with 2000 MB/s and write with 3000 MB/s. If I would have two of those and connect them as Raid 0, I would have double Performance and zstd would be a big limitation!
Even lz4 could me potentially already limiting me in read performance!

[2017-06-03 21:38] ticki commented on #40
I will likely use neither. For real, compression speed couldn't matter less. The disk I/O is so much more expensive, that the speed would carry a marginal effect on the overall performance.

In fact, the higher compression ratio, the less disk writes. So it would likely be faster in fact.

In conclusion, the talk about performance is completely nonsense in this case. It doesn't account for anythin

[2017-06-03 21:39] ticki commented on #47
It relies on `conc`, which itself isn't entirely complete (well, it's near to being, but still not there). When it's done, this is the next goal yes.

[2017-06-03 21:40] ticki commented on #45
Wrong repo.

[2017-06-03 21:40] #45 closed

[2017-06-03 21:41] ticki commented on #24
@AbhayGoyal I'm not sure if the project is at stage where this is necessary yet.

[2017-06-03 21:53] ticki opened #49 "Concurrent runtime state handling"
In particular, we need a way to buffer and queue operations in core, so the file system tree can be generated with multiple operations at the same time.

[2017-06-03 21:55] ticki commented on #49
So, what I'm thinking right now is to have a bunch of disjoint queues of operations, which can be executed independently, then built up to a bulk replacing the superpage pointer. The issue here is that there is a tradeoff with this niceness in bulking and delaying operations.

Like, you don't want a write operation to take longer than it should, or even worse, to seem like it has been written, but

[2017-06-03 21:57] ticki commented on #49
A totally different, but less flexible approach is allocation groups like XFS. In TFS terms, it could be multiple superpages, which can be modified independently. This does how introduce some pretty serious issues without simple solutions, and it is not really within the goals I vision: A system which is relatively adaptive and only requires special configuration (e.g. subpartioning) if your syste

[2017-06-03 22:08] StefanoD commented on #40
I'm not sure, if the [lz4m paper](http://csl.skku.edu/papers/icce17.pdf) suits here.

[2017-06-03 22:15] ticki commented on #40
As long as it is within reasonable speed, the only thing that matters is the ratio.

[2017-06-04 01:37] m4b commented on #47
Cool, let me know if you need any help, eager to see this published.

[2017-06-04 01:37] #47 closed

[2017-06-04 05:33] StefanoD commented on #40
@ticki
One thing: Are you aware, that high performance PCIe SSDs are even more performant than the zstd compression and decompression speed?

[2017-06-04 11:08] ticki commented on #35
I'm sorry I can't help with everything, but please don't close unsolved bugs.

[2017-06-04 11:09] ticki commented on #35
@daiheitan Okay, that's weird. I can't reproduce it at all.

[2017-06-04 11:10] ticki commented on #35
@daiheitan can you give me your server code?

[2017-06-04 21:23] ticki commented on #47
Understandable. I hope it's ready within one month. I'm a bit busy right now, but it should be do-able for me.

[2017-06-05 03:39] daiheitan commented on #35
Sorry, I can't. BTW changing to `concurrent_hashmap` did solve my problem and the server never hang up again any more.

[2017-06-05 05:17] m4b opened #52 "chashmap: deadlock"
Please excuse me if there's an obvious error, but the following code seems to deadlock, but I was somewhat surprised at this.  (do `cargo new --bin deadlock` and add `chashmap` and `rayon` as deps):

[code]

So basically the above code deadlocks when the write lock is obtained for `name` and held while it gets the locks for it's references (which never includes itself), and updates them.

If the l

[2017-06-05 20:38] rayvector commented on #40
@ticki

Modern SSDs are getting faster and faster. NVMe-based PCIe SSDs that can easily read/write at several GB/s are already widely used.

I am a bit worried about the performance future of TFS considering how many times I have seen you write about how the performance of compression algorithms is completely irrelevant and can be disregarded (lz4/zstd here, zmicro in the faq/readme, etc).

If the

[2017-06-05 20:44] StefanoD commented on #40
That's right. You always have to norm the speed like I did [here](https://github.com/redox-os/tfs/issues/40#issuecomment-304126774) and you'll see, that modern NVMe SSDs outperform even lz4 in read performance.
@ticki If you think otherwise, you have at least to prove your claim, that compression/decompression speed doesn't matter.

[2017-06-06 04:05] polymetric1 commented on #40
Compression could be optional. Disable it for SSDs, enable by default for hard drives. Maybe when creating the filesystem it could run some tests, then put the results in the index? then to optimize FS speed (like when transferring to another disk) you could run a command to re-acquire the disk's performance properties.

[2017-06-06 07:22] chrisvest commented on #40
Related aside: The reason we're not seeing SSDs with throughput beyond ~3.6 GB/s is because that's the limit of 4xPCIe 3.0. I expect the DIMM slotted version of Intels Optane drives to support greater throughput that than, once they come out.

[2017-06-06 19:23] demoy commented on #40
Making smaller writes better preserve the lifetime of your SSD. Also you read from a storage device atleast** as often than you write (possibly far more than you write, but because of caching; cache-misses; and incremental-saves estimates are volatile). My guess is people care more faster file-openings/application-startup than faster file-saving/application-shutdowns.

Focusing on readspeed (hence

[2017-06-06 19:40] rayvector commented on #40
@polymetric1

Considering that TFS is designed for the same use cases in mind as ZFS/btrfs/etc (filesystems for large storage / enterprise), I do not think that the kind of automagic you are suggesting would be a good idea. It is much better to have manual control over the functionality of the filesystem, similar to what ZFS offers. Safe, conservative defaults that can be manually changed are a go

[2017-06-08 10:57] dracwyrm commented on #40
One thing you can consider is the new LZ4m compression. It's supposed to be faster than LZ4 and pretty much the same compression sizes. Since it's an update to the current compression, it might be more compatible and easy to switch to it. You would have the benefits of LZ4, but with greater speeds.

See this link:
https://www.phoronix.com/scan.php?page=news_item&px=LZ4m-Compression

[2017-06-08 21:00] ticki commented on #35
Unless someone can reproduce, I will close this within a month or so.

[2017-06-09 02:42] daiheitan commented on #35
Seems related: #52

[2017-06-21 18:28] demoy commented on #40
Even lz4 could me potentially already limiting me in read performance!

If compression blocks are small and distinct, decompression speed become insignificant since we will read multiple blocks faster (due to smaller disk space) and decompress them in parallel (CPUs and RAM allowing). Assuming of course tfs (should this be capitalized?) facilitates parallel decompressions. For writes the same prin

[2017-06-23 20:28] ticki opened #53 "Deadlock in deallocation `conc` when using jemalloc."
It seems to get stuck in some `madvise` call, but only when using jemalloc, it seems. When using the system allocator, the test runs.

[2017-06-23 20:33] ticki commented on #53
Actually, it seems that it is related to double free.

[2017-06-25 20:23] #53 closed

[2017-06-26 03:20] cedenday commented on #46
Any updates on this?

[2017-07-01 10:34] #46 closed

[2017-07-01 10:35] ticki commented on #46
@cedenday Sorry it took so long. It's done now.

[2017-07-01 20:22] cedenday commented on #46
Is this going to get published to crates.io?

[2017-07-02 22:11] ticki commented on #46
@cedenday It is already up.

[2017-07-18 07:55] bitshark opened #54 "Concerns with the Speck Cipher"
I would like to raise there exist academic concerns (and perhaps more common sense concerns post-Vault7) with the Speck cipher.. Frankly it reminds me of the Clipper chip, or the fiasco surrounding Dual_EC_DRBG.

Regarding Simon/Speck, I'd like to share this quote: "Contrary to common practice, the designers of Simon did not provide any security arguments for the ciphers. (Ashur, 2015)"  I am not

[2017-07-18 12:43] mrZalli commented on #54
I honestly can't trust any cryptography standard NSA has developed. I think it's reasonable to believe they know how to crack it.

[2017-07-21 12:31] fneddy opened #56 "SECTOR SIZE is not optimal"
the SECTOR_SIZE ist currently [set to 512 Bytes](https://github.com/redox-os/tfs/blob/master/core/src/disk/mod.rs#L11)

    pub const SECTOR_SIZE: usize = 512;

Current flash storage systems (SSDs/SD) use internally a minimal structure of 4k to 4mb.

Increasing the SECTOR_SIZE would probably enhance the speed. Through it might not be practical due to memory waste.

Perhaps there are other solution

[2017-07-21 13:05] chrisvest commented on #56
Many hard disk drives are also using 4KiB sector sizes, marketed under the Advanced Format term.

[2017-07-21 13:24] FSMaxB commented on #56
I think most Unix filesystems use 4K as default sector size nowadays, but I might be wrong.

[2017-07-21 18:16] fneddy commented on #56
I think there are many solutions for this:

1. Have a fixed sector size at 512/4k/1024k
2. Set the sector size at FS creation.
3. Set the sector size on runtime and save the needed information per page/cluster ..

Also: should sector size and write alignment always match? For simplicity yes but if not you could have a system with 512b sector size aligned at 4k. But would this be different to have

[2017-07-21 20:46] ticki commented on #56
Given that 4k is compatible with 512, I guess I will change to that.

[2017-07-21 20:47] ticki commented on #56
The main issue is keeping atomicity under RACC, which needs sector writes to be atomic. Any ideas on this?

[2017-07-21 20:51] ticki commented on #54
Dual_EC_DRBG has nothing to do with SPECK, which is an ARX cipher. As for the designer concern, I honestly don't buy it. Sure, NSA is fucking terrible, but they can't have backdoors in a cipher as simple as this one, which on top of that passes cryptoanalysis and contains no hardcoded constants or alike.

[2017-07-22 18:43] steffengy opened #57 "Treiber: double free due to usage of compare_and_swap_raw"
## Reproduction
[code]

## Analysis

`stack.push(1)` works as expected.
During `stack.push(200);` the following happens:

- `push(200)` calls `self.head.compare_and_swap(...)`.
- `compare_and_swap(...)` calls `compare_and_swap_raw`
   which [enques the old (`1`) element as `Garbage`](https://github.com/redox-os/tfs/blob/9b40d809054b8f0df90c125afc5974933e2f372f/conc/src/atomic.rs#L258)

`stack.pop.

[2017-07-24 16:44] myfreeweb commented on #54
Would be nice to have a choice between AES-XTS (AES-NI accelerated), ChaCha20+Poly1305 [like in bcachefs](http://bcachefs.org/Encryption/) and Speck.

[2017-07-24 20:21] chrisvest commented on #54
AES-XTS was designed for sector encryption – encryption in the block layer – and has weaknesses due to restrictions of that use case. It's not a mode you want to use when doing encryption in a file system. See http://sockpuppet.org/blog/2014/04/30/you-dont-want-xts/

[2017-07-26 22:40] ticki commented on #54
The cipher isn't hardcoded. There is implemented fields for choosing ciphers. Currently though, the choice is between identity (no cipher) or SPECK. It isn't hard to add new ones though.

[2017-07-26 23:19] burdges commented on #54
I haven't looked at SPECK myself, but I happily assumed it's extremely hard to backdoor a reasonable looking block cipher.  I'd make two suggestions :

- Could someone leave a pointer towards any list of desirable properties for cipher selection here?
- Could someone who dislikes SPECK raise the issue on some cryptography mailing lists, or even crypto.SE, and link it form here?  Or find some previ

[2017-07-27 14:04] steffengy commented on #57
Also to confirm this double-free on linux you might want to add
[code]

which should result in something like
[code]
when running it.

@ticki
Can you confirm that my analysis above is indeed correct, or
is there something else going on?

[2017-07-27 14:57] ticki commented on #57
I think you're spot on. Sorry I haven't responded. I mean to fix this tonight.

[2017-07-29 23:08] ticki commented on #57
Check https://github.com/redox-os/tfs/commit/a558832f98f5810eb4daf07683ecbf944aa241a2, it fixes some of these issues, but introduces new ones ( :( )

[2017-07-30 17:15] cedenday opened #61 "Speck: decryption significantly slower than encryption."
CPU: `Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz`
RAM: `16383476 kB DDR4 @ 2133 MHz`
[code]

[2017-08-01 15:45] steffengy commented on #57
Yeah that seems to work now, but `simple1` fails:
```thread 'sync::treiber::tests::simple1' panicked at 'assertion failed: stack.pop().is_none()', src\sync\treiber.rs:198```

[2017-08-03 05:16] m4b commented on #52
So, I think this is either a pretty serious bug, or maybe expected behavior :/

I also typed up a bunch of stuff; I'm too tired to analyze this further, so here it is.

# Hypothesis

I believe t deadlock is a parallel interaction between `get_mut` and `get`, and `get_mut` and `get_mut` (i.e., `get` and `get` does not exhibit this deadlock behavior).

In particular, I believe this might be a bug in

[2017-08-03 05:46] m4b commented on #52
No something crazy is going on, look at this sequence that lead to deadlock:

[code]

the numbers in [] are the tid.

both threads get their mut reference, `soon` and `abra` respectively; they then proceed lockstep down their references, and it deadlocks on a `get` of borp...

gdb confirms this, they are both in `RwLock::read/lock_shared` parking lock stacks, and blocked; this makes no sense...

H

[2017-08-03 07:45] ticki commented on #57
Fixed now. Can you confirm that?

[2017-08-03 07:45] #57 closed

[2017-08-03 09:05] cedenday commented on #61
More specifically, `inv_round` is slower than `round`.

[2017-08-03 10:04] steffengy commented on #57
Everything's running fine.

[2017-08-04 13:11] ticki commented on #57
Cool!

[2017-08-07 19:47] ticki opened #63 "Treiber stacks as recursive `Atomic`."

[2017-08-12 21:43] ticki opened #64 "Implement `Clone` for `conc::Guard`."

[2017-08-13 17:41] ticki opened #65 "Hybrid EBR and HBR approach"
cc @stjepang

[2017-08-22 22:59] Licenser opened #66 "Please provide some substance to the claims made in the README"
The promise made in the README is exciting however at the end it leaves a bit of an empty feeling.

In the end, for a technical audience, it shoulds a lot like marketing and has the bad aftertaste of the btrfs disaster.

Between all the claims made of capabilities of TFS none seems to be backed up by research, or studies, or benchmarks, or really anything.

Comparisons with other filesystems seem

[2017-08-22 23:31] Licenser commented on #66
The `Full coverage testing` section also is somewhat questionable, there seem to be no automated tests (at least not publically visible). Manually running fails a few or parts of the codebase have none at all (`mlcr`). In addition, there is research to suggest that there test coverage has a significant (let alone strong) impact on the quality of tests (http://www.linozemtseva.com/research/2014/ics

[2017-08-23 10:33] garro95 opened #67 "CHashMap Rayon integration"
It would be nice to have a parallel iterator implementation (par_iter, into_par_iter and par_iter_mut) to use the map with the ergonomics of rayon

[2017-08-26 17:25] ticki commented on #66
It is all under "design **goals**", but it is somewhat unclear, so yeah, it's misleading. I plan to rewrite the README entirely eventually.

[2017-08-26 17:27] ticki opened #68 "Buffer-based (instead of cluster-based) compression"
In particular, allow clusters to be compressed down to an arbitrary sized subcluster. Allocation works through keeping 4096 (or a reduced number of) queues.

[2017-08-26 17:29] ticki opened #69 "Readable format for disk header"
Have ASCII-key-value format, which spans an arbitrary number of clusters. For example:

[code]

This future proofs so new fields can be introduced without major issues.

[2017-08-27 14:23] Licenser commented on #66
I think what makes it misleading is that it's worded as facts i.e. `"TFS is the first file system to incorporate complete full-disk..."`, `"TFS stores a revision history of every file without imposing extra overhead..."` and so on rather than stating goals i.e. `"TFS wants to incorporate complete full-disk..."`, `"TFS aims to store a revision history of every file without imposing extra overhead"`

[2017-08-31 12:01] ticki commented on #66
Fair point.

[2017-09-01 03:46] brokenpeace commented on #66
Perhaps instead of writing about the lacking information and benchmarks (which take time to critique) spend that time helping the project?
Open source is a contribution of donated time from us all. Dislike something? Missing something? Do it! Submit your PR let's get moving?

[2017-09-01 05:31] leeoniya commented on #66
while @ticki certainly does not owe anyone anything, extraordinary claims *do* require extraordinary evidence. being an open source project done in free time does nothing to lift this burden. rewording the claims is certainly far easier than providing exhaustive and good faith proof that account for all contributing factors. few people besides the author can meaningfully contribute such things.

[2017-09-01 08:51] ticki commented on #66
I agree with @leeoniya. A good project should provide sources for claims, and it is pretty unclear that these are goals at the moment, especially in how I've worded things.

[2017-09-01 16:55] Licenser commented on #66
@brokenpeace Code is not the only kind of contribution to open source, as you said yourself I did spend time on writing this issue, analyzing where things are off and presenting it in a constructive way.

[2017-09-19 22:44] gitbugged commented on #4
Please notify me as well, really looking forward to giving this a test run!

[2017-10-03 19:12] maxnordlund commented on #54
Assumptions are dangerous when it comes to security. The basic rule is that the most paranoid wins. Which is why there has been such vocal concerns regarding Simon and Speck. Both on theoretical grounds as there has been little research on their cryptographic strength, and in the ISO process where NSA through NIST pushes very hard to standardise it. See [this article](https://www.reuters.com/artic

[2017-10-04 08:21] KizzyCode commented on #54
“it's extremely hard to backdoor a reasonable looking block cipher” – but this is something different...
It may be hard to introduce some back doors into a reasonable cipher – but it is not so hard to design a back-doored cipher to look reasonable...
And you should not forget that “hard” is not good if we talk about something like the NSA... at least it should be “quite impossible” – and I don’t s

[2017-10-04 10:38] burdges commented on #54
Read [Master-Key Cryptosystems](http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.44.2971) by Matt Blaze, Joan Feigenbaum, F. T. Leighton.  If you can truly backdoor a blockcipher in a cryptographically "nobody bus us" sense, then you can build an insanely fast public key cryptosystem that would quickly replace RSA, ECDH, etc.

You could produce an outright broken blockcipher with well hidde

[2017-10-04 16:29] KizzyCode commented on #54
"I'd expect SPECK to be broken by academic cryptographers far before the NSA expects it to be"
The problem is that SPECK is pretty young and not very much researched yet; compare the amount of papers regarding SPECK to the amount of papers about ChaCha20...
Of course ChaCha20 is older but SPECK is not very interesting...
Which popular libraries implement SPECK? Where do people talk about SPECK? Th

[2017-11-02 22:10] valarauca opened #72 "Allow external hashers in `chashmap`"
Awesome crate.

Could and interface be added for `Hasher` to be provided externally?

I was graphed `chashmap` into another library and the need came up to hash small values 4-8bytes typically so using `fnv` over `default` would be cool.

[2017-11-13 00:22] dgrnbrg opened #73 "Question: Status/Stability of lz4?"
Hello, I was wondering if you could comment on the status, stability, and completeness of the LZ4 implementation. I can't find any info regarding it in the docs.

Thanks!

[2017-11-23 18:07] pharaone opened #75 "Ticki is back"
![ticky is back](https://user-images.githubusercontent.com/17162630/33185221-6b141788-d081-11e7-893a-35feb9b0b7b5.PNG)
Hope you restart to work with redox ;D

[2017-11-23 19:59] rroohhh commented on #75
[fyi](https://www.reddit.com/r/rust/comments/7dgw1w/this_week_in_redox_32/dpzcr86/)

[2017-11-23 20:00] pharaone commented on #75
=(

[2017-11-23 20:00] #75 closed

[2017-12-02 07:44] ignatenkobrain opened #77 "some of seahash tests fail on 32bit systems"
[code]

[2017-12-15 10:34] CodesInChaos commented on #33
A borrowing variant of upset that allows you to defer key generation to inserting would be nice as well. Something like:

    fn upsert<Q: ?Sized, I: FnOnce() -> (K, V), U: FnOnce(&mut V)>(&self, key: Q, insert: I, update: U)
        K:Borrow<Q>, Q: Hash + Eq

[2018-01-09 16:46] ignatenkobrain commented on #77
ping @ticki

[2018-01-12 15:14] archerfeel opened #79 "chashmap: using alter and remove would cause deadlock"
#52

[2018-01-17 17:19] lygstate opened #80 "Question? What's going on with tfs? does it dead?"

[2018-01-17 17:22] jackpot51 commented on #80
Ticki is busy in school. It is stalled for the time being.

[2018-02-28 08:52] fneddy opened #81 "add efi driver support"
dont know if this is on the agenda or not.

It would be cool to have a _tfs.efi_ (tfs efi filesystem driver).
This would allow all other efi bootloader (grub, refind, systemd-boot, ...) to read tfs and potentially to boot redox.

maybe this should not be part o this project but separated in another crate?

[2018-04-12 18:08] asomers opened #83 "Seahash can't hash buffers byte-wise"
SeaHash does not produce the same result when hashing a whole buffer as when hashing its constituent parts.  For example, calling `SeaHasher::write` on the whole buffer provides a different result than calling `SeaHasher::write` on subslices, or calling `SeaHasher::write_u8` on each byte.  Rust's `DefaultHasher` as well as `MetroHash64` and `MetroHash128` do have this property.  I haven't tested a

[2018-04-16 01:56] hd-scania commented on #81
Just like you I'm also waiting and looking for the TFS efi driver and TFS availability for rEFInd and gdisk. :sun_with_face: :+1:
Ask him to add Redox kernel and TFS support for GPT hard drives, https://sf.net/p/rEFInd. :wink:

[2018-04-17 19:53] k3d3 opened #84 "Release conc 0.5.1"
I see in the git repository that conc is version 0.5.1, but it isn't on crates.io as such.

In its current state (on 0.5.0), it doesn't work on stable because the spin dependency requires nightly, and conc is broken on the latest nightly.

[2018-04-30 17:25] Globik commented on #80
Is this hashmap for multithreaded programms? No chance for multiprocesses?

[2018-05-01 11:57] Ploppz commented on #80
@Globik  I don't know why you ask that in this unrelated issue. Maybe make a new issue or join the mattermost chat of Redox. It has a channel for `tfs` as well.

[2018-05-06 18:37] ticki commented on #80
https://ticki.github.io/blog/why_im_leaving_open_source/

[2018-05-06 19:50] lygstate commented on #80
That's good, at least I know tfs is dead.
Anyway, split up usefull modules into separate repo is a good idea.
We may use it when usefull.

[2018-06-08 08:03] diegolagoglez commented on #43
And, also, what about extended attributes indexes, like in BFS in BeOS/Haiku? This option confers database capabilities to the file system which could be very useful to have a very well integrated and powerful desktop (like, again, BeOS/Haiku).